body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'arial', sans-serif;
    overflow: hidden;
    background-color: #ff9a9e;
    background-image: radial-gradient(circle at 20% 30%, #ffeb3b 2px, transparent 2px),
        radial-gradient(circle at 80% 20%, #4caf50 3px, transparent 3px),
        radial-gradient(circle at 40% 80%, #2196f3 2px, transparent 2px),
        radial-gradient(circle at 70% 60%, #e91e63 4px, transparent 4px),
        radial-gradient(circle at 10% 90%, #ffffff 3px, transparent 3px),
        radial-gradient(circle at 50% 10%, #ff5722 4px, transparent 4px);
    background-size: 400px 400px;
    animation: moveConfetti 10s linear infinite;
}

@keyframes moveConfetti {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 0 400px;
    }
}

.card {
    background: #f7d7d7;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid white;
}

.cake {
    width: 100px;
    height: 50px;
    background: brown;
    border-radius: 10px 10px 0 0;
    margin-top: 50px;
    position: relative;
    display: flex;
    justify-content: center;
}


.candle {
    width: 8px;
    height: 30px;
    background: white;
    position: absolute;
    top: -30px;
    display: flex;
    justify-content: center;
}

.happy-birthday {
    font-size: 2.2rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2),
        0 0 20px #ffb6c1, 0 0 30px #ff69b4;
    font-family: 'Comic Sans MS', cursive;
}

.flame {
    width: 12px;
    height: 18px;
    background: orange;
    border-radius: 50% 50% 20% 50%;
    position: absolute;
    top: -18px;
    transform: rotate(-45deg);
    animation: flicker 0.5s ease-in-out infinite alternate;
    transform: rotate(-45deg);
    box-shadow: 0 0 10px orange;

}

@keyframes flicker {
    0% {
        transform: rotate(-45deg) scale(1);
        opacity: 0.8;
    }

    100% {
        transform: rotate(-45deg) scale(1.2);
        opacity: 1;
    }
}